.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--green);
	color: var(--white);
	width: 80vw;
	font-size: 1.5rem;
	text-align: center;
	border: none;
	padding: 0.7rem;
	cursor: pointer;
	border-bottom: 3px solid #1d5a58;
	margin-inline: auto;
	margin-top: auto;
	margin-bottom: 5rem;
	border-radius: var(--border-r4);
	transition: all 0.1s ease-in-out;
	margin-bottom: 35vw;
}

.button:active {
	transform: translateY(2px);
	border: none;
}

.button--remove {
	padding: 0.3rem;
	width: 32px;
	aspect-ratio: 1/1;
	margin: 0.3rem;
	background-color: var(--red);
	border-color: #85282c;
	font-size: 1.2rem;
}

.button--remove-big {
	background-color: var(--red);
	border-color: #85282c;
}

.button--small {
	width: 100%;
	font-size: 0.9rem;
	height: 50px;
}

.button--show-tickets {
	/* color: var(--dark-purple); */
	font-size: 1rem;
	padding: 0.5rem 0;
	margin-bottom: 0.2rem;
	margin: 0.2rem 0 0.5rem 0;
	/* background-color: transparent;
	border: none; */
}
