.page-tickets {
	background: linear-gradient(
		to bottom,
		var(--pink) 5%,
		var(--dark-purple) 50%
	);
}

.ticket-gallery {
	position: relative;
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.ticket-motion-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	max-height: 484px;
	border-radius: var(--border-r4);
	overflow: hidden;
}

.ticket-gallery__dots {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	margin: 0.5rem 0;
}

.dot {
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background-color: var(--light-purple);
	transition: background-color 0.3s ease-in-out;
}

.dot.active {
	background-color: var(--white);
}

/* / =============================testing ========================== */
