.event-details__pricebox {
	border: 2px solid var(--pink);
	border-radius: var(--border-r4);
	color: var(--white);
	margin: 2rem auto;

	text-align: center;
	background-color: var(--dark-purple);
	min-width: 250px;
}

.event-details__total {
	font-size: 1.8rem;
	font-weight: 700;
	text-shadow: 1px 1px 0 var(--pink);
	padding: 1rem 3rem;
}

.event-details__quantity {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-top: 1px solid var(--pink);
}

.event-details__button {
	color: var(--white);
	font-size: 1.2rem;
	padding: 1rem 0;
	background: transparent;
	cursor: pointer;
}

.event-details__quantity-amount {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	border-right: 1px solid var(--pink);
	border-left: 1px solid var(--pink);
}
