@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Sansita+One&display=swap');

:root {
	--dark-purple: #231f42;
	--light-purple: #393555;
	--pink: #f56b9a;
	--green: #3ec4bf;
	--white: #ffffff;
	--light-gray-bg: #f7f7f7;
	--dark-gray-bg: #e0e0e0;
	--dark-gray-text: #565656;
	--light-gray-text: #c0c0c0;
	--black: #000000;
	--border-r4: 4px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page {
	font-family: 'Fira Sans', sans-serif;
	min-height: 100vh;
	width: 100%;
	background-color: var(--dark-purple);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.page__header {
	font-family: 'Sansita One', sans-serif;
	color: var(--pink);
	font-size: 1.9rem;
	margin-top: 0.3rem;
	margin-bottom: 1rem;
}

.page__sub-header {
	font-size: 1.2rem;
	font-style: italic;
	color: var(--white);
	font-weight: 200;
}

a {
	text-decoration: none;
}

.error-p {
	color: var(--light-gray-bg);
}

.d-none {
	display: none;
}
